.contact-form{
    .form-group{
        margin-top: $spacer*1.2;
        label{
            color: $dark;
        }
        .form-control{
            background: $light;
            border-color: darken($light, 8);
            &:not(.form-control-sm){
                min-height: $spacer*3;
            }
        }
    }
}