.main-footer {
    color: $gray-500;
    margin-top: auto !important;
    a {
        text-decoration: none;
        color: $gray-500;
        @include transition;
        &:hover{
            color:$gray-200 ;
        }
    }
    

    .footer-items {
        .title{
            color: $white;
            font-weight: 400;
        }
        p {
            margin: 0;
        }

        .info {
            a{
                font-weight: 600;
                color: $gray-400;
                font-size: 1rem;
            }
            p {
                margin-top: $spacer/2;
            }
        }
        ul{
            &.link{
                li{
                    padding-top: $spacer/3;
                    padding-bottom: $spacer/3;
                }
            }
        }
        .subscribe{
            min-height: 44px;
        }
        .social-info{
            font-size: 1.8rem;
            margin-left: -$gap;
            margin-right: -$gap;
            a{
                padding-left: $gap;
                padding-right: $gap;
            }
        }
    }
}