/* ------- Globle Scss --------*/

:root {
    --bs-font-sans-serif:#{$bFont};
}

html,
body {
    height: 100%;
}

body {
    font-size: .875rem;
    font-weight: 400;
    color: $gray-600;
    line-height: 1.86;
    overflow: overlay;
}

.mtn-fti-atitle {
    margin-top: -$spacer*13;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

// section {
//     overflow: hidden;
// }
::selection {
    color: $white;
    background: $danger;
}



/* Width Height */
::-webkit-scrollbar {
    width: $spacer/2;
    height: $spacer/2;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(lighten($dark, 40), $alpha: .7);
    border-radius: 10px;
}

.pr-z3 {
    position: relative;
    z-index: 3;
}

.badge {
    display: inline-block;
    padding: 5px 8px;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.section-heading-content {
    .ls-2 {
        letter-spacing: 2.6px;
    }

    h2 {
        position: relative;
        padding-bottom: $spacer;

        &:before {
            height: 3px;
            width: 110px;
            content: '';
            position: absolute;
            bottom: 0;
            background: $primary;
            left: 0;
        }
    }

    &.center {
        text-align: center;

        h2 {
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.bg-img-center-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-lr-image-01 {
    background-image: url(../imgs/BG7.png), url(../imgs/BG8.png);
    background-position: left, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;

}

.bg-lr-image-02 {
    background-image: url(../imgs/bg-title-01.png), url(../imgs/bg-title-02.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
}

.bg-overlay {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, .47);
        z-index: 1;
        border-radius: inherit;
    }

    .container,
    >div {
        position: relative;
        z-index: 2;
    }
}

.bg-img-cover-center {
    background-image: url(../imgs/BG3.jpg);
    @extend .bg-img-center-cover;
}

.inner-page-title {
    .breadcrumb {
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;

        a {
            color: rgba($dark, 1);
            text-decoration: none;

        }

        .active {
            color: rgba($dark, .8);
        }
    }

    h1 {
        font-size: 3rem;
        font-weight: 300;
        color: $dark;

        @media (min-width:1200px) {
            font-size: 5rem;
        }
    }

    &:not(.bg-white) {
        .breadcrumb {
            a {
                color: rgba($white, 1);
            }

            .active {
                color: rgba($white, .8);
            }
        }

        h1 {
            color: $white;
        }
    }
}

ul {
    &.list-with-checkbox {
        margin: 0 0 0 $spacer;
        padding: 0;
        list-style: none;

        @media (min-width:1200px) {
            margin-top: $spacer*3;
        }

        li {
            position: relative;
            padding-left: $spacer*2;
            padding-top: $spacer/2;
            padding-bottom: $spacer/2;
            font-size: 1rem;
            $iconTop: 4px;
            $iconFs: 1.2rem;

            &:before {
                position: absolute;
                left: 0;
                content: "\f14a";
                font-family: 'font awesome 5 duotone';
                width: $spacer;
                height: $spacer;
                top: $iconTop;
                color: $primary;
                font-size: $iconFs;
            }

            &:after {
                content: "\10f14a";
                color: $primary;
                opacity: .2;
                font-family: 'font awesome 5 duotone';
                width: $spacer;
                height: $spacer;
                position: absolute;
                left: 0;
                top: $iconTop;
                font-size: $iconFs;
            }


        }
    }
}

.btn {
    &.scrollToTop {
        position: fixed;
        bottom: -50px;
        right: 20px;
        @include transition;
        opacity: 0;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba($primary, 0.16), 0 3px 6px rgba($secondary, 0.23);
        z-index: 1050;

        // color: $white;
        &.active {
            bottom: 20px;
            opacity: 1;
        }

    }

    &.btn-whatsapp {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-weight: 500;
        color: $white;
        @include transition;
        z-index: 1050;
        box-shadow: 0 3px 6px rgba($whatsapp, 0.16), 0 3px 6px rgba($whatsapp, 0.23);

        &.has-scroll {
            right: 70px;
        }
    }
}

.popup-image-gallery {
    .item-size-4-3 {
        position: relative;

        &:after {
            content: '';
            display: block;
            padding-top: 75%;
        }

        .card-properties {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            .card-img {
                height: 100%;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
    border-radius: $spacer/2;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}