/* ------- Globle Scss --------*/

:root {
    --bs-font-sans-serif:#{$bFont};
}

body {
    font-size: .875rem;
    font-weight: 400;
    color: $gray-600;
    line-height: 1.86;
}

.badge {
    display: inline-block;
    padding: 5px 8px;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.section-title {
    .ls-2 {
        letter-spacing: 2.6px;
    }

    h2 {
        position: relative;
        padding-bottom: $spacer;

        &:before {
            height: 3px;
            width: 110px;
            content: '';
            position: absolute;
            bottom: 0;
            background: $primary;
            left: 0;
        }
    }

    &.center {
        text-align: center;

        h2 {
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.bg-lr-image-01 {
    background-image: url(../imgs/BG7.png), url(../imgs/BG8.png);
    background-position: left, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
}