.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-vh-04 {
    @media (min-width:1200px) {
        min-height: calc(100vh - 99px);
    }
}

.hero-header {
    .slick-slider {
        .slick-dots {
            bottom: 2rem;
        }
    }
}

