header {
    &.top-navbar {
        line-height: 1.2;
        .top-strip-bar {
            background-color: $light;
            color: rgba($white, .8);
            font-size: .8rem;

            a {
                color: rgba($dark, .8);
                text-decoration: none;
                font-weight: 600;
                @include transition;

                &:hover {
                    color: $dark;
                }
            }

            .contact-info {
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .social-info {
                font-size: 1rem;

                a {
                    &+a {
                        margin-left: .3rem;
                    }
                }
            }
        }

        nav {
            &.navbar {
                // padding: 0;

                .navbar-brand {
                    img {
                        height: 44px;
                    }

                    &.navbar-brand-with-bg {
                        // background: $white;
                        // background: darken($primary, 20);
                        // background: $white;
                        // padding: $spacer/1.2;
                    }
                }
            }
        }



        .navbar-nav {
            $linkPadding: 1.5rem;

            .nav-item {
                .nav-link {
                    font-size: .9rem;
                    position: relative;

                    &.active {
                        color: $danger;

                        &:before {
                            width: calc(100% - #{$linkPadding*2});
                        }
                    }


                    &:before {
                        position: absolute;
                        width: 0;
                        height: 3px;
                        @include transition;
                        content: "";
                        left: $linkPadding;
                        bottom: 0;
                        background: $danger;

                    }

                    @media (min-width:1200px) {
                        padding-left: $linkPadding;
                        padding-right: $linkPadding;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        color: $dark;

                    }


                }

                @media (min-width:1200px) {
                    &:hover {
                        .nav-link {
                            color: $danger;

                            &:before {
                                width: calc(100% - #{$linkPadding*2});
                            }
                        }
                    }
                }
            }

            @media (min-width:1200px) {
                .dropdown {
                    .dropdown-menu {
                        margin: 0;
                        padding: 0;
                        font-size: .875rem;
                        color: #696969;
                        background-color: #fff;
                        border: 0 solid rgba(0, 0, 0, .15);
                        border-radius: 5px;
                        box-shadow: 0 1.5rem 4rem rgba($dark, .3);


                        li {
                            .dropdown-item {
                                padding-top: .7rem;
                                padding-bottom: .7rem;
                                @include transition;

                            }

                            &:first-child {
                                .dropdown-item {
                                    border-radius: 5px 5px 0 0;
                                }
                            }

                            &:last-child {
                                .dropdown-item {
                                    border-radius: 0 0 5px 5px;
                                }
                            }
                        }

                    }

                    &:hover {
                        .dropdown-menu {
                            display: block;
                            margin-top: 0; // remove the gap so it doesn't close
                        }
                    }
                }
            }
        }
    }
}