header {
    &.top-navbar {
        .top-strip-bar {
            background-color: darken(map-get($theme-colors, secondary), 10);
            color: rgba($white, .8);
            font-size: .8rem;

            a {
                color: rgba($white, .8);
                text-decoration: none;
                @include transition;

                &:hover {
                    color: $white;
                }
            }

            .contact-info {
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .social-info {
                font-size: 1rem;

                a {
                    &+a {
                        margin-left: .3rem;
                    }
                }
            }
        }
    }
}