$grid-gutter-width:20px;
$container-padding-x: $grid-gutter-width / 2;



// Fonts
$bFont:'Poppins',sans-serif;

// Colors
// $primary:#0fd1e3;
$primary:#11a3ff;
$secondary:#136294;
$success:#34bd91;
$info:#46b8ec;
$warning:#fdcb5f;
$danger:#e8391a;
$light:#f6f9fc;
$dark:#252525;
$orange:#fc7649;
$whatsapp:#06d755;
$theme-colors :(
    'primary':$primary,
    'secondary':$secondary,
    'success':$success,
    'danger':$danger,
    'orange':$orange,
    'warning':$warning,
    'info':$info,
    'light':$light,
    'whatsapp':$whatsapp,
    'dark':$dark
);

// Sizing
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 10.5,
) !default;